@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
  --primary-color: #333;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #ddd;
  font-size: 12px;

  padding: 0;
  margin: 0;
}

/* start site settings */
.sitesettings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 10px;

  background-color: #f4f4f4;

  border-radius: 5px;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

  position: fixed;
  right: 10px;
  bottom: 50px;
  z-index: 100;
}

.sitesettings .sitesettingitems {
  margin: 10px 0;
  padding: 5px;

  background-color: #f9f9f9;

  opacity: 0.5;
}

.sitesettings .sitesettingitems:hover {
  opacity: 1;
}

.anirotates {
  animation-name: myanirotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes myanirotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1turn);
  }
}

/* end site settings */


/* start left side bar section */
.lines1,
.lines2,
.lines3 {
  width: 25px;
  height: 3px;
  margin: 6px;
}

.sidebars {
  min-height: 100vh;

  background-color: var(--primary-color);
}

.sidebarlinks {
  opacity: 0.75;

  position: relative;

  transition: all .4s;
}

.sidebarlinks:hover {
  opacity: 1;
  background-color: #555;
}

.currents {
  box-shadow: -2px 0 10px #111;
  opacity: 1;

  transition: transform 0.3s;
}

.currents:hover {
  transform: translateY(-1px);
}



.mores {
  position: absolute;
  right: 20px;
  top: 50%;

  transform: translateY(-50%);
}


/* end left side bar section */

/* start top side bar section */
.topnavbars {
  background-color: var(--primary-color);
}

@media (max-width:768px) {

  .topnavbars,
  .sidebars {
    position: static;
  }
}

.iconparents {
  position: relative;
}

.iconbullets i {
  color: #888;
}

.iconbullets::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;

  position: absolute;
  left: 20px;
  top: 3px;
}

.breadcrumb a {
  color: #f4f4f4;
  text-decoration: none;
}

/* end top side bar section */

/* start panel section */
.cardboxs {
  transition: all .3s;
}

.cardboxs:hover {
  box-shadow: 1px 3px 3px #bbb;
  transform: translateY(-1px);
}

/* end panel section */

/* start card */
.card-footer {
  user-select: none;
  cursor: pointer;
}

/* end card */